# debug
*.log

# emacs
*~
*.*~

# Mac
.DS_Store

# old data
HHLS_Inh_0_tau_50ms/
HHLS_Inh_0_tau_5ms/
ML_Inh_0_tau_50ms/
ML_Inh_0_tau_5ms/
st_highvar/
st_lowvar/
tau_50ms/
tau_5ms/

# data
spiketime/
*.dat
config.js

# NEURON
x86_64/
run.hoc
testrun.hoc

# pysmell
PYSMELL*
